<table>
  <tr>
    <th>From:</th>
    <td>You!</td>
  </tr>
  <tr>
    <th>To:</th>
    <td><a href="mailto:{{'email'}}">{{name}}</a></td>
  </tr>
  <tr>
    <th>Title:</th>
    <td>{{title}}</td>
  </tr>
  <tr>
    <th>Date:</th>
    <td>{{date}}</td>
  </tr>
</table>

<hr>

<p>
  {{body}}
</p>
