<div class="row">
  <div class="col-md-12">

    <table>
      <tr>
        <th class="box-list">From</th>
        <th class="box-list">Title</th>
        <th class="box-list">Date</th>
      </tr>
      {{#each}}
        <tr>
          <td class="box-list"><a href="mailto:{{email}}">{{name}}</a></td>
          <td class="box-list">{{#link-to 'outgoingmessage' this.id}}{{title}}{{/link-to}}</td>
          <td class="box-list">{{date}}</td>
        </tr>
      {{/each}}
    </table>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {{outlet}}
  </div>
</div>
